fieldset{
    width: 60%;
    margin: 100px auto;
    padding: 20px;
    border-radius: 30px;
    color: white;
    background: linear-gradient(180deg,red,blue);
}
legend{
    background: linear-gradient(180deg,red,blue);
    padding: 10px;
    border-radius: 30px; 
}
input[type="text"]{
    outline: none;
}