/*element selectors*/
p{
    border:1px solid gray;
    width: 20%;
    display: inline-block;
    padding: 20px;
    border-radius: 30px;
    margin: 20px;
    text-align: justify;
    font-family: comic Sans MS;
    color: black;
    box-shadow: 0px 0px 20px black;
}
/* class selector */
.c1{
    background: linear-gradient(90deg,blue,red);
}
#id1{
   background: linear-gradient(45deg,green,red); 
}
.c2{
    background: linear-gradient(135deg,blue,red);
}