ol,ul{
    background-color: brown;
    width: 15%;
    display: inline-block;
    margin: 30px;
    border: 2px solid red;
    border-radius: 30px;
}
li{
    background-color: red;
    color: white;
    padding: 10px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 30px;
}
li:hover{
    background-color: green;
}