table{
    width: 50%;
    text-align: center;
    margin: 100px auto;
    border-collapse: collapse;
}
table,th,td{
    border: 1px solid gray;
}
th{
    height:75px;
}
td{
    height: 50px;
}
tr:nth-child(even){
    background-color: orange;
    color: white;
}
tr:nth-child(odd){
    background-color: brown;
    color: white;
}
tr:hover{
    background-color: aqua;
}